* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
    font-family: Montserrat, Arial, Helvetica, sans-serif
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);

}




/*Card container styling*/
.card {
    width: 44vw;
    height: 66vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Left card container styling*/
.card-left {
    width: 50%;
    height: 100%;
    background-image: url(/home/jesus/front-end-mentor/Challenges/product-preview-card-component-main-TESTS/product-preview-card-component-main/images/image-product-desktop.jpg);
    background-size: cover;
    overflow: hidden;
    border-radius: 1em 0 0 1em;
}



/*Right card container styling*/
.card-right {
    width: 50%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 0 1em 1em 0;
    background-color: white;

}

.card-right-product {
    color: hsl(228, 12%, 48%);
    padding: 2em;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.25em;

}

.card-right-title {
    color: hsl(212, 21%, 14%);
    font-family: Fraunces;
    font-size: 2rem;
    padding: 0 2rem;

}

.card-right-description {
    color: hsl(228, 12%, 48%);
    padding: 1rem 2rem;
    font-size: 1rem;




}

.card-right-price {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 1rem;
    gap: 2em;

}


.card-right-price-discount {
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
    font-weight: 700;
}


.card-right-price-full {
    color: hsl(228, 12%, 48%);
    text-decoration: line-through;
    text-decoration-color: hsl(228, 12%, 48%);
    font-size: 1rem;
}

.card-right-button {
    display: block;
    background-color: hsl(158, 36%, 37%);
    color: white;
    margin: auto;
    padding: 1em 4em;
    border-radius: 0.75em;

}




/*Card container styling when reducing sizing*/
@media (max-width:800px) {
    .card {
        width: 90vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-left {
        width: 100%;
        height: 40%;
        background-image: url(/home/jesus/front-end-mentor/Challenges/product-preview-card-component-main-TESTS/product-preview-card-component-main/images/image-product-mobile.jpg);
        background-size: cover;
    }

    .card-right {
        width: 100%;
        height: 60%;
    }
}