/*CSS BASIC RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}



/*Card container styling*/
.card {
    width: 50vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Left card container styling*/
.card-left {
    width: 50%;
    height: 100%;

}

/* Image - left card styling */
.card-left-image_desktop {
    object-fit: cover;
    width: 100%;
    height: 100%;

}

/* This image will only be shown when the width is under 700px*/
.card-left-image_mobile {
    display: none;
}



/*Right card container styling*/
.card-right {
    width: 50%;
    height: 100%;
}






/*Card container styling when reducing size*/
@media (max-width:700px) {
    .card {
        width: 90vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-left {
        width: 100%;
        height: 40%;
    }

    .card-right {
        width: 100%;
        height: 60%;
    }

    .card-left-image_mobile {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }

    /*Desktop image version will be hidden*/
    .card-left-image_desktop {
        display: none;
    }


}