/*CSS BASIC RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}



/*Card container styling*/
.card {
    width: 33vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*Left card container styling*/
.card-left {
    width: 50%;
    height: 100%;
    background-image: url(/home/jesus/front-end-mentor/Challenges/product-preview-card-component-main-TESTS/product-preview-card-component-main/images/image-product-desktop.jpg);
    background-size: cover;
    overflow: hidden;
}



/*Right card container styling*/
.card-right {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.card-right-product {
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;
}

.card-right-title {
    color: hsl(212, 21%, 14%);
    font-family: Fraunces;
}

.card-right-description {
    color: hsl(228, 12%, 48%);
    font-family: Montserrat;

}

.card-right-price {
    color: hsl(158, 36%, 37%);
    font-size: 2rem;
}


.card-right-price_discount {
    color: hsl(228, 12%, 48%);
}

.card-right-buy {
    display: block;
    background-color: hsl(158, 36%, 37%);
    color: white;
}





/*Card container styling when reducing sizing*/
@media (max-width:375px) {
    .card {
        width: 90vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card-left {
        width: 100%;
        height: 40%;
        background-image: url(/home/jesus/front-end-mentor/Challenges/product-preview-card-component-main-TESTS/product-preview-card-component-main/images/image-product-mobile.jpg);
        background-size: cover;
    }

    .card-right {
        width: 100%;
        height: 60%;
    }
}